@model IEnumerable<tropical.Models.ViewModels.PlayerView>
<div class="row">
    <div class="span9">
        <div class="row">
            <div class="span3">
            </div>
        </div>
        <div class="row">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class=""></li>
                    }
@*
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>*@
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    @foreach (var item in Model)
                    {
                        <div class="item" style="height: 300px">
                            <div class="span3 offset3">
                                <img class="img-polaroid" src="~/Content/images/placeholder.png" />
                            </div>
                            <div class="span3">
                                <h3>@item.FirstName @item.LastName</h3>
                                <ul>
                                    <li>Poistion: @item.Position</li>                                       
                                    <li>Grade: @item.Grade</li>                                    
                                    <li>Height: @item.Height</li>                                    
                                    <li>"@item.Quote"</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>
