@model IEnumerable<tropical.Models.ViewModels.PlayerView>
<div class="row hidden-phone">
    <div class="span9">
        <div class="row">
            <div class="span3">
            </div>
        </div>
        <div class="row">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" @if(i==0){<text>class="active"</text>}></li>
                    }
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    @foreach (var item in Model)
                    {
                        
                        <div class="@if(item == Model.First()){<text>active </text>}item" style="height: 300px">
                            <div class="span3 offset3">
                                <img class="img-polaroid" src="~/Content/images/placeholder.png" />
                            </div>
                            <div class="span3">
                                <h3>@item.FirstName @item.LastName (#@item.JerseyNumber)</h3>
                                <ul>
                                    @if(!@item.Position.IsEmpty()){<li><strong>Poistion: </strong>@item.Position</li>}
                                    @if(!@item.Grade.IsEmpty()){<li><strong>Grade: </strong>@item.Grade</li>}                              
                                    @if(!@item.Height.IsEmpty()){<li><strong>Height: </strong>@item.Height</li>}                                 
                                    @if(!@item.Quote.IsEmpty()){<li>"@item.Quote"</li>}
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>