@model IEnumerable<tropical.Models.ViewModels.PlayerView>
@{
    ViewBag.Title = "Index";
}

<h2>Meet the team</h2>
@Html.Partial("_PlayerProfile", Model)


<div class="row">
    <div class="span9">
        <table class="table table-striped">
            <thead>
                <th>Jersey Number</th>
                <th>Name</th>
                <th>Position</th>
                <th>Grade</th>
            </thead>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.JerseyNumber</td>
                    <td><a href="#modal-@item.JerseyNumber" role="button" data-toggle="modal">@item.FirstName @item.LastName</a></td>
                    <td>@item.Position</td>
                    <td>@item.Grade</td>
                </tr>
            }
        </table>
    </div>
</div>

@foreach (var item in Model)
{
<div id="modal-@item.JerseyNumber" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>@item.FirstName @item.LastName  (#@item.JerseyNumber)</h3>
  </div>
    <div class="modal-body">
        <div>
            <img class="img-polaroid" src="~/Content/images/placeholder.png" />
        </div>
        <div>
            <ul>
                @if (!@item.Position.IsEmpty())
                {<li><strong>Poistion: </strong>@item.Position</li>}
                @if (!@item.Grade.IsEmpty())
                {<li><strong>Grade: </strong>@item.Grade</li>}
                @if (!@item.Height.IsEmpty())
                {<li><strong>Height: </strong>@item.Height</li>}
                @if (!@item.Quote.IsEmpty())
                {<li>"@item.Quote"</li>}
            </ul>
        </div>
    </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>
}